.timeline{
    padding: 0 !important;
}
.timeline .timeline_header{
    padding-top: 7px;
}

.timeline .timeline_firstitem{
    min-height: 80px !important;
}
.timeline .MuiTimeline-root{
min-height: 0px;
}
.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
}